
/*
    This Grid contrains the header and form grids
*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em 1em;
}

.header {
	grid-area: 1 / 1 / 2 / 2;
}

.form-section {
	grid-area: 2 / 1 / 3 / 2;
}


/*
    Form grid vertical
*/

.form-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em 1em;
}

.personal {
	grid-area: 1 / 1 / 2 / 2;
}

.residence {
	grid-area: 1 / 2 / 2 / 3;
}

.income {
	grid-area: 1 / 3 / 2 / 4;
}

.references {
	grid-area: 1 / 4 / 2 / 5;
}

.others {
	grid-area: 1 / 5 / 2 / 6;
}

.signatures {
	grid-area: 1 / 6 / 2 / 7;
}







/* Extra small devices (phones, less than 768px) */


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* banner displayed only for desktops */
}


/* Devices on portrait mode */

@media all and (orientation:portrait) {}


/* Devices with screen size like 1280 horizontal pixels and 720 vertical pixels  */

@media screen and (device-aspect-ratio: 16/9) {}


/* Devices with resolution greater than 300 dots per inch */

@media print and (min-resolution: 300dpi) {}


