/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Variables
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

$font-stack: Helvetica,
sans-serif;
$color-1: navy;
$color-2: #ff6358;
$color-3: #ffd246;
$color-4: #78d237;
$color-5: #28b4c8;
$color-6: #2d73f5;
$color-7: #aa46be;
$color-background: #f5f5f5;
$bp-phone: 600px;
$bp-tablet: 900px;
$bp-laptop: 1200px;
body {
    height: 100vh;
    margin: 0;
    font-size: 16px;
    /* 24 รท 16 = 1.5 */
    font-family: $font-stack;
    font-style: 1.1em;
    text-align: center;
    scroll-behavior: smooth;
}

h1 {
    margin: 0px;
    padding: 1em 0px;
    font-size: 1.5rem;
}

h2 {
    margin: 0 !important;
    padding: 10px !important;
    font-weight: 600 !important;
}

h3 {
    margin: 0 !important;
    padding: 10px !important;
    font-weight: 600 !important;
    color: #dddddd;
    text-align: left;
    padding-left: 2rem !important;
}

form {
    // 900px
    overflow: hidden;
}

footer {
    display: flex;
    background-color: $color-1;
    align-items: center;
    color: oldlace;
    height: 5vh;
    p {
        margin: 0 auto;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Grid Container
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.grid-container {
    display: grid;
    /* grid-template-rows: minmax(120px, 4vh) 1fr; */
    height: 100vh;
    overflow: scroll;
    background-color: $color-background;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Breadcrumbs Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.arrows {
    white-space: nowrap;
    li {
        display: inline-block;
        line-height: 26px;
        margin: 0 9px 0 -10px;
        padding: 0 20px;
        position: relative;
        &:last-of-type::before,
        &:last-of-type::after {
            display: none;
        }
        a {
            font: bold 24px Sans-Serif;
            letter-spacing: -1px;
            text-decoration: none;
            padding: 5px;
            /* Remove this if you want the fading */
            color: hsl(0, 0%, 50%);
            &:hover {
                color: #f44336;
                &::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #f44336;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }
            &:focus {
                color: #f44336;
            }
        }
        /*Testing*/
        a {
            position: relative;
        }
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Label & Input bahavior
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.label-input-pair {
    float: left;
    margin-right: 20px;
}


/*
/////////////////////////////////////////////////////////////////////////////
//    Page Header
/////////////////////////////////////////////////////////////////////////////
*/

.header {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    background-color: $color-1;
    &-logo {
        display: block;
        align-self: center;
        margin: 1rem;
    }
    &-title {
        display: grid;
        align-items: center;
        padding: .5rem;
    }
    /*
    TODO : The image is a little large on anything with a
           width of 700px, maybe make a media query to make
           image stay in better quality
    */
    &-logo>img {
        float: left;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}


/*
/////////////////////////////////////////////////////////////////////////////
//    Exclamation Point Icon 
/////////////////////////////////////////////////////////////////////////////
*/

.exclamation-point {
    border: solid 1px;
    color: red;
    display: inline-block;
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    p {
        margin: 0;
        padding: 0;
    }
}


/*
/////////////////////////////////////////////////////////////////////////////
//    Button Group 
/////////////////////////////////////////////////////////////////////////////
*/

.btn-group {
    button {
        background-color: #4CAF50;
        /* Green background */
        border: 1px solid green;
        /* Green border */
        color: white;
        /* White text */
        padding: 10px 24px;
        /* Some padding */
        cursor: pointer;
        /* Pointer/hand icon */
        float: left;
        /* Float the buttons side by side */
        &:not(:last-child) {
            border-right: none;
            /* Prevent double borders */
        }
        /* Add a background color on hover */
        &:hover {
            background-color: #3e8e41;
        }
    }
    /* Clear floats (clearfix hack) */
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Personal Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#personal {
    width: 100%;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section {
    /*
        Form Section Headers
    */
    &-header {
        &-personal {
            background-color: $color-2;
        }
        &-residence {
            background-color: $color-3;
        }
        &-income {
            background-color: $color-4;
        }
        &-references {
            background-color: $color-5;
        }
        &-other {
            background-color: $color-6;
        }
        &-signatures {
            background-color: $color-7;
        }
    }
    /*
        Form Section Body
    */
    &-body {
        &-personal {
            border: 1px solid #f44336;
            /* align-items: center;
            padding: 1rem;*/
        }
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   License Group Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#license {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em 1em;
    &-pair {
        &-number {
            grid-area: 1 / 1 / 2 / 3;
        }
        &-state {
            display: flex;
            flex-direction: column;
            grid-area: 2 / 1 / 3 / 2;
        }
        &-exp {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 600 or less 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen and (max-width: $bp-phone) {
    h2,
    h3 {
        font-size: 4.5vw !important;
    }
    .arrows {
        display: none;
    }
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Personal Section
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    #section-header-personal {
        background-color: rebeccapurple;
    }
    .form-section-body-personal {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        margin: 0 auto;
        padding: 1rem;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 600 or higher
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


/* Small devices (tablets, 600px and up) */

@media screen and (min-width: $bp-phone) {
    h2,
    h3 {
        font-size: 4.5vw !important;
    }
    .arrows {
        display: none;
    }
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Basics & Overrides
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    input,
    label {
        display: block;
        text-align: left;
    }
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Personal Section 
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    .form-section-personal {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 1rem;
    }
    #coApplicantBtn {
        /*
            TODO : Make the button float to the right
        */
        width: 8rem;
    }
    .coApplicantLbl {
        font-size: large;
        align-self: center;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 900 & up
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


/* Medium devices (desktops, 90px and up) */

@media (min-width: $bp-tablet) {
    h2 {
        font-size: 2.98rem !important;
    }
    h3 {
        font-size: 2.5rem !important;
    }
    .arrows {
        display: block;
    }
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Form-Container 
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    .form-container {
        overflow: hidden;
    }
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Section Headers H3  
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    .form-section-header-main {
        background-color: orangered;
    }
    .form-section-header {
        /* display: none; */
    }
    .exclamation-point {
        display: none;
    }
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Personal Section 
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    #personal {
        height: 100%;
    }
    #section-header-personal {
        /*
        background-color: orangered; 
        */
    }
    #residence,
    #income,
    #other,
    #references,
    #signatures {
        /*
            This could be changed to display hidden
        */
        display: none;
    }
    #nxtBtn {
        display: visible;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 1200 & up
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* banner displayed only for desktops */
}