@charset "UTF-8";
/*
    Abstracts
*/
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Variables
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/*
    Base
*/
html {
  font-size: 16px;
  /* 24 ÷ 16 = 1.5 */
}

body {
  height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-style: 1.1em;
  text-align: center;
  scroll-behavior: smooth;
}

h1 {
  margin: 0px;
  padding: 1em 0px;
  font-size: 1.5rem;
}

h2 {
  margin: 0 !important;
  padding: 10px !important;
  font-weight: 600 !important;
}

h3 {
  margin: 0 !important;
  padding: 10px !important;
  font-weight: 600 !important;
  color: #dddddd;
  text-align: left;
  padding-left: 2rem !important;
}

@media screen and (max-width: 600px) {
  h2,
h3 {
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 600px) {
  h2,
h3 {
    font-size: 2.5rem !important;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 2.98rem !important;
  }

  h3 {
    font-size: 2.5rem !important;
  }
}
form {
  overflow-y: scroll;
  scrollbar-width: none;
}

footer {
  display: flex;
  background-color: navy;
  align-items: center;
  color: oldlace;
  height: 5vh;
}
footer p {
  margin: 0 auto;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Fonts
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/*
    Components
*/
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Breadcrumbs Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.arrows {
  align-self: center;
  white-space: nowrap;
}
.arrows li {
  display: inline-block;
  line-height: 26px;
  margin: 0 9px 0 -10px;
  padding: 0 20px;
  position: relative;
  /*Testing*/
}
.arrows li:last-of-type::before, .arrows li:last-of-type::after {
  display: none;
}
.arrows li a {
  font: bold 24px Sans-Serif;
  letter-spacing: -1px;
  text-decoration: none;
  padding: 5px;
  /* Remove this if you want the fading */
  color: gray;
}
.arrows li a:hover {
  color: #f44336;
  cursor: pointer;
}
.arrows li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.arrows li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f44336;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.arrows li a:focus {
  color: #f44336;
}
.arrows li a.crntActiveBC {
  color: #f44336;
}
.arrows li a {
  position: relative;
}
@media screen and (max-width: 900px) {
  .arrows {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .arrows {
    display: block;
  }
}

/*
/////////////////////////////////////////////////////////////////////////////
//    Button Group 
/////////////////////////////////////////////////////////////////////////////
*/
.btn-group {
  /* Clear floats (clearfix hack) */
}
.btn-group button {
  background-color: #4CAF50;
  /* Green background */
  border: 1px solid green;
  /* Green border */
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  float: left;
  /* Float the buttons side by side */
  /* Add a background color on hover */
}
.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}
.btn-group button:hover {
  background-color: #3e8e41;
}
.btn-group::after {
  content: "";
  clear: both;
  display: table;
}

/* Small devices (tablets, 600px and up) */
@media screen and (min-width: 600px) {
  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Personal Section 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  #coApplicantBtn {
    /*
        TODO : Make the button float to the right
    */
    width: 8rem;
  }

  .coApplicantLbl {
    font-size: large;
    align-self: center;
  }
}
legend {
  background-color: #28b4c8;
  color: #f5f5f5;
  padding: 3px 6px;
  border-radius: 30px;
}

fieldset {
  border: solid 2px #28b4c8 !important;
  border-radius: 30px;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Next/Previous Buttons (Desktop Section 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-section-button {
  display: none;
}
@media screen and (min-width: 900px) {
  .form-section-button {
    display: initial;
  }
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Input Text Boxes
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
input {
  border-bottom-color: #444444;
  border-radius: 0;
  display: block;
  line-height: 0;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  padding: 0.85em 0.75em 0.75em 0.75em;
  width: calc(100% - 1.25em);
  transition: 125ms border-color ease-out;
}
input:focus {
  box-shadow: 0 0 0 3px white, 0 0 0 6px blue;
  outline: none;
}
input:hover {
  background-color: #0000db;
  border-color: #0000b8;
  text-decoration: underline;
}
input:active {
  background-color: #000094;
  border-color: #000070;
  position: relative;
  top: 1px;
  text-decoration: none;
  transition: none;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Label & Input bahavior
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.label-input-pair {
  float: left;
  margin-right: 20px;
}

@media screen and (min-width: 600px) {
  input,
label {
    display: block;
    text-align: left;
  }
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   License Group Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
#license {
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  grid-gap: 1em 1em;
}
#license-pair-number {
  grid-area: 1/1/2/3;
}
#license-pair-state {
  display: flex;
  flex-direction: column;
  grid-area: 2/1/3/2;
}
#license-pair-exp {
  grid-area: 2/2/3/3;
}

/*
/////////////////////////////////////////////////////////////////////////////
//    Page Header
/////////////////////////////////////////////////////////////////////////////
*/
.header {
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
  background-color: navy;
  /*
  TODO : The image is a little large on anything with a
         width of 700px, maybe make a media query to make
         image stay in better quality
  */
}
.header-logo {
  display: block;
  align-self: center;
  margin: 1rem;
}
.header-title {
  display: grid;
  align-items: center;
  padding: 0.5rem;
}
.header-logo > img {
  float: left;
  max-width: 100%;
  width: auto;
  height: auto;
}

/*
/////////////////////////////////////////////////////////////////////////////
//    Exclamation Point Icon 
/////////////////////////////////////////////////////////////////////////////
*/
.exclamation-point {
  border: solid 1px;
  color: red;
  display: inline-block;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
}
.exclamation-point p {
  margin: 0;
  padding: 0;
}

/*
    This is simply still in test so turning it off until
    on anything lower than tablet size
*/
@media (min-width: 900px) {
  .exclamation-point {
    display: none;
  }
}
/*
    Layout
*/
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-section {
  /*
      Form Section Headers
  */
  /*
      Form Section Body
  */
}
.form-section-header-personal {
  background-color: #ff6358;
}
.form-section-header-residence {
  background-color: #ffd246;
}
@media (min-width: 900px) {
  .form-section-header-residence {
    display: none;
  }
}
.form-section-header-income {
  background-color: #78d237;
}
@media (min-width: 900px) {
  .form-section-header-income {
    display: none;
  }
}
.form-section-header-references {
  background-color: #28b4c8;
}
@media (min-width: 900px) {
  .form-section-header-references {
    display: none;
  }
}
.form-section-header-other {
  background-color: #2d73f5;
}
@media (min-width: 900px) {
  .form-section-header-other {
    display: none;
  }
}
.form-section-header-signatures {
  background-color: #aa46be;
}
@media (min-width: 900px) {
  .form-section-header-signatures {
    display: none;
  }
}
.form-section-body-personal {
  align-items: center;
  padding: 1rem;
  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //                      Form-Section-Body-Persoanl Media Query for Devices less than 600
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //                      Form-Section-Body-Persoanl Media Query for Devices more than 600
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
}
@media screen and (max-width: 600px) {
  .form-section-body-personal {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .form-section-body-personal {
    width: 70%;
    height: 100%;
    margin: 1rem auto;
    border: 2px solid #f44336;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5% repeat(2, 15%) 25% 10%;
    gap: 0px 0px;
    grid-template-areas: "p-crntDate p-crntDate" "p-fname p-lname" "p-email p-phone" "p-license p-license" "p-co-applicant p-co-applicant";
  }
  .form-section-body-personal .crntDate {
    grid-area: crntDate;
  }
  .form-section-body-personal .p-fname {
    grid-area: p-fname;
  }
  .form-section-body-personal .p-lname {
    grid-area: p-lname;
  }
  .form-section-body-personal .p-email {
    grid-area: p-email;
  }
  .form-section-body-personal .p-phone {
    grid-area: p-phone;
  }
  .form-section-body-personal .p-license {
    grid-area: p-license;
  }
  .form-section-body-personal .p-co-applicant {
    grid-area: p-co-applicant;
  }
}

/*
    These need to be moved to their own sections at the top
*/
/* Medium devices (desktops, 90px and up) */
@media (min-width: 900px) {
  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Personal Section 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  #residence,
#income,
#other,
#references,
#signatures {
    /*
        This could be changed to display hidden
    */
    display: none;
  }
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Grid Container
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.grid-container {
  display: grid;
  /* grid-template-rows: minmax(120px, 4vh) 1fr; */
  height: 100vh;
  background-color: #f5f5f5;
}
@media screen and (max-width: 600px) and (min-width: 600px) {
  .grid-container {
    overflow-y: scroll;
    grid-template-rows: minmax(30px, 0.2fr) 1fr;
  }
}
@media (min-width: 900px) {
  .grid-container {
    grid-template-rows: minmax(120px, 0.2fr) 0.1fr 1fr;
  }
}

/*# sourceMappingURL=index.css.map */
