@charset "UTF-8";
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Variables
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
html {
  font-size: 16px;
  /* 24 ÷ 16 = 1.5 */
}

body {
  height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-style: 1.1em;
  text-align: center;
  scroll-behavior: smooth;
}

h1 {
  margin: 0px;
  padding: 1em 0px;
  font-size: 1.5rem;
}

h2 {
  margin: 0 !important;
  padding: 10px !important;
  font-weight: 600 !important;
}

h3 {
  margin: 0 !important;
  padding: 10px !important;
  font-weight: 600 !important;
  color: #dddddd;
  text-align: left;
  padding-left: 2rem !important;
}

@media screen and (max-width: 600px) {
  h2,
h3 {
    font-size: 2rem !important;
  }
}

form {
  overflow: hidden;
}

legend {
  background-color: #28b4c8;
  color: #f5f5f5;
  padding: 3px 6px;
  border-radius: 30px;
}

fieldset {
  border: solid 2px #28b4c8 !important;
  border-radius: 30px;
}

footer {
  display: flex;
  background-color: navy;
  align-items: center;
  color: oldlace;
  height: 5vh;
}
footer p {
  margin: 0 auto;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Grid Container
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.grid-container {
  display: grid;
  /* grid-template-rows: minmax(120px, 4vh) 1fr; */
  height: 100vh;
  overflow: scroll;
  background-color: #f5f5f5;
}
@media screen and (max-width: 600px) and (min-width: 600px) {
  .grid-container {
    grid-template-rows: minmax(30px, 0.2fr) 1fr;
  }
}
@media (min-width: 900px) {
  .grid-container {
    grid-template-rows: minmax(120px, 0.2fr) 0.1fr 1fr;
  }
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Breadcrumbs Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.arrows {
  align-self: center;
  white-space: nowrap;
}
.arrows li {
  display: inline-block;
  line-height: 26px;
  margin: 0 9px 0 -10px;
  padding: 0 20px;
  position: relative;
  /*Testing*/
}
.arrows li:last-of-type::before, .arrows li:last-of-type::after {
  display: none;
}
.arrows li a {
  font: bold 24px Sans-Serif;
  letter-spacing: -1px;
  text-decoration: none;
  padding: 5px;
  /* Remove this if you want the fading */
  color: gray;
}
.arrows li a:hover {
  color: #f44336;
}
.arrows li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.arrows li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f44336;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.arrows li a:focus {
  color: #f44336;
}
.arrows li a.current {
  color: #f44336;
}
.arrows li a {
  position: relative;
}
@media screen and (max-width: 900px) {
  .arrows {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .arrows {
    display: block;
  }
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Label & Input bahavior
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.label-input-pair {
  float: left;
  margin-right: 20px;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Next/Previous Buttons (Desktop Section 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-section-button {
  display: none;
}
@media screen and (min-width: 900px) {
  .form-section-button {
    display: initial;
  }
}

/*
/////////////////////////////////////////////////////////////////////////////
//    Page Header
/////////////////////////////////////////////////////////////////////////////
*/
.header {
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
  background-color: navy;
  /*
  TODO : The image is a little large on anything with a
         width of 700px, maybe make a media query to make
         image stay in better quality
  */
}
.header-logo {
  display: block;
  align-self: center;
  margin: 1rem;
}
.header-title {
  display: grid;
  align-items: center;
  padding: 0.5rem;
}
.header-logo > img {
  float: left;
  max-width: 100%;
  width: auto;
  height: auto;
}

/*
/////////////////////////////////////////////////////////////////////////////
//    Exclamation Point Icon 
/////////////////////////////////////////////////////////////////////////////
*/
.exclamation-point {
  border: solid 1px;
  color: red;
  display: inline-block;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
}
.exclamation-point p {
  margin: 0;
  padding: 0;
}

/*
/////////////////////////////////////////////////////////////////////////////
//    Button Group 
/////////////////////////////////////////////////////////////////////////////
*/
.btn-group {
  /* Clear floats (clearfix hack) */
}
.btn-group button {
  background-color: #4CAF50;
  /* Green background */
  border: 1px solid green;
  /* Green border */
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  float: left;
  /* Float the buttons side by side */
  /* Add a background color on hover */
}
.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}
.btn-group button:hover {
  background-color: #3e8e41;
}
.btn-group::after {
  content: "";
  clear: both;
  display: table;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Personal Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
#personal {
  width: 100%;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-section {
  /*
      Form Section Headers
  */
  /*
      Form Section Body
  */
}
.form-section-header-personal {
  background-color: #ff6358;
}
.form-section-header-residence {
  background-color: #ffd246;
}
@media (min-width: 900px) {
  .form-section-header-residence {
    display: none;
  }
}
.form-section-header-income {
  background-color: #78d237;
}
@media (min-width: 900px) {
  .form-section-header-income {
    display: none;
  }
}
.form-section-header-references {
  background-color: #28b4c8;
}
@media (min-width: 900px) {
  .form-section-header-references {
    display: none;
  }
}
.form-section-header-other {
  background-color: #2d73f5;
}
@media (min-width: 900px) {
  .form-section-header-other {
    display: none;
  }
}
.form-section-header-signatures {
  background-color: #aa46be;
}
@media (min-width: 900px) {
  .form-section-header-signatures {
    display: none;
  }
}
.form-section-body-personal {
  align-items: center;
  padding: 1rem;
  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //                      Media Query for Devices 600 or more
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
}
@media screen and (max-width: 600px) {
  .form-section-body-personal {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .form-section-body-personal {
    display: grid;
    grid-template-rows: repeat(2, 15%) 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    border: 2px solid #f44336;
    border-radius: 30px;
  }
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   License Group Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
#license {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em 1em;
}
#license-pair-number {
  grid-area: 1/1/2/3;
}
#license-pair-state {
  display: flex;
  flex-direction: column;
  grid-area: 2/1/3/2;
}
#license-pair-exp {
  grid-area: 2/2/3/3;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 600 or higher
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* Small devices (tablets, 600px and up) */
@media screen and (min-width: 600px) {
  h2,
h3 {
    font-size: 2.5rem !important;
  }

  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Basics & Overrides
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  input,
label {
    display: block;
    text-align: left;
  }

  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Personal Section 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  #coApplicantBtn {
    /*
        TODO : Make the button float to the right
    */
    width: 8rem;
  }

  .coApplicantLbl {
    font-size: large;
    align-self: center;
  }
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 900 & up
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* Medium devices (desktops, 90px and up) */
@media (min-width: 900px) {
  h2 {
    font-size: 2.98rem !important;
  }

  h3 {
    font-size: 2.5rem !important;
  }

  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Form-Container 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  .form-container {
    overflow: hidden;
  }

  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Section Headers H3  
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  .form-section-header-main {
    background-color: orangered;
  }

  .form-section-header {
    /* display: none; */
  }

  .exclamation-point {
    display: none;
  }

  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  //   Personal Section 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
  #personal {
    height: 100%;
  }

  #section-header-personal {
    /*
    background-color: orangered; 
    */
  }

  #residence,
#income,
#other,
#references,
#signatures {
    /*
        This could be changed to display hidden
    */
    display: none;
  }
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//                      Media Query for Devices 1200 & up
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* banner displayed only for desktops */
}

/*# sourceMappingURL=index.css.map */
