/*
///////////////////////////////////////////////////////////////////////////////////////////////////////
//  layouts.css - Grid settings, sizing
//  Description - This file will only hold the following attributes
//                display, display settings, width, height
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/

body {
    height: 100vh;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Grid Container
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.grid-container {
    display: grid;
    grid-template-rows: minmax(120px, 4vh) 1fr;
    /*
        maybe move somewhere
    */
    height: 100vh;
    /* Testing remove this later*/
    background-color: #333;
}


/* #form-section { */

#form-container {
    height: 100%;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    The Header Grid
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#header {
    /* Testing remove this later*/
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header-title {
    display: grid;
    align-items: center;
    padding: .5rem;
}

.header-logo {
    display: block;
    align-self: center;
    padding: 1rem;
}

.header-logo>img {
    float: left;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    height: auto;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Personal Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section-base {
    display: grid;
    grid-template-rows: 10% 1fr;
    padding: 0;
}

.form-section-banner {
    display: grid;
    /* width: 100vw; */
    height: 6vh;
}

.form-section-personal {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(100vw, 1fr)); */
    /* grid-template-rows: repeat(6, minmax(100px, .75fr)); */
    height: 100%;
}