/*
///////////////////////////////////////////////////////////////////////////////////////////////////////
//  layouts.css - Grid settings, sizing
//  Description - This file will only hold the following attributes
//                display, display settings, width, height
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/

body {
    height: 100vh;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Grid Container
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.grid-container {
    display: grid;
    grid-template-rows: minmax(120px, 4vh) 1fr;
    /*
        maybe move somewhere
    */
    height: 100vh;
    /* Testing remove this later*/
    background-color: #333;
}


/* #form-section { */

#form-container {
    height: 100%;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    The Header Grid
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#header {
    /* Testing remove this later*/
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
}

.header-title {
    display: grid;
    align-items: center;
    padding: .5rem;
}

.header-logo {
    display: block;
    align-self: center;
    margin: 1rem;
}


/*
    TODO : The image is a little large on anything with a
           width of 700px, maybe make a media query to make
           image stay in better quality
*/

.header-logo>img {
    float: left;
    max-width: 100%;
    width: auto;
    height: auto;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Personal Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section-base {
    display: grid;
    height: 100%;
    grid-template-rows: minmax(40px, .10fr) 1.90fr;
    padding: 0;
}

.form-section-banner {
    display: grid;
    align-content: center;
}

.form-section-personal {}