/* Devices on portrait mode */

@media all and (orientation:portrait) {
    /*
        The entire documents container
    */
    .grid-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 15vh 80vh;
        grid-gap: 1em 1em;
        background-color: #333;
    }
    #header {
        grid-area: 1 / 1 / 2 / 2;
        background-color: cadetblue;
    }
    #form-section {
        grid-area: 2 / 1 / 3 / 2;
    }
    /*
        Styling for the header
        Header Container, Logo & Title
    */
    #header {
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-gap: 1em 1em;
    }
    .header-logo {
        align-self: center;
        grid-area: 1 / 1 / 2 / 2;
    }
    .header-logo>img {
        margin: 0 auto;
        max-width: 100%;
        width: auto;
        height: auto;
        display: block;
    }
    .header-title {
        grid-area: 2 / 1 / 3 / 2;
        background-color: orchid;
    }
    .header-title>h3 {
        padding: .5rem;
    }
    /*
        Form Section - Holds the entire form
    */
    #form-section {
        height: 100%;
        background-color: blanchedalmond;
    }
    /*
        form-section - Personal
        Personal Section styling
    */
    #personal {
        display: block;
        background-color: purple;
    }
}