body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: 1.1em;
    text-align: center;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    /* 24 รท 16 = 1.5 */
    margin: 0px;
    padding: 1em 0px;
    font-size: 1.5rem;
}


/*
/////////////////////////////////////////////////////////////////////////////
    Styling
/////////////////////////////////////////////////////////////////////////////
*/


/*
/////////////////////////////////////////////////////////////////////////////
    Form Section - Holds the entire form
/////////////////////////////////////////////////////////////////////////////
*/

#form-section {
    background-color: blanchedalmond;
    overflow: scroll;
}


/*
/////////////////////////////////////////////////////////////////////////////
    Header
/////////////////////////////////////////////////////////////////////////////
*/

.header-logo>img {
    margin: 0 auto;
    display: block;
}


/*
/////////////////////////////////////////////////////////////////////////////
    Form
/////////////////////////////////////////////////////////////////////////////
*/

#personal-section-banner {
    background-color: brown;
}

#personal {
    background-color: chartreuse;
}

#residence {
    background-color: blueviolet;
}

#income {
    display: none;
}

#references {
    display: none;
}

#others {
    display: none;
}

#signatures {
    display: none;
}


/* Extra small devices (phones, less than 768px) */


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* banner not displayed */
    #topHeader {}
    #navigation-1 {
        background: red;
    }
    #navigation-2 {}
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* banner not displayed */
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* banner displayed only for desktops */
    /* banner not displayed */
    #navigation-1 {
        background: green;
    }
}


/* Devices with screen size like 1280 horizontal pixels and 720 vertical pixels  */

@media screen and (device-aspect-ratio: 16/9) {
    /* banner not displayed */
    #navigation-1 {
        background: purple;
    }
}


/* Devices with resolution greater than 300 dots per inch */

@media print and (min-resolution: 300dpi) {
    /* banner not displayed */
    #navigation-1 {
        background: orangered;
    }
}

.btn-group button {
    background-color: #4CAF50;
    /* Green background */
    border: 1px solid green;
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: #3e8e41;
}