/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section - Headers
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section-header-residence {
    background-color: $color-3;
    @media (min-width: $bp-tablet) {
        display: none;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section - Body
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section-body__residence {
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-grid;
    grid-template-rows: 1fr .25fr 1fr;
    /*
        Form-Section-Body-Persoanl Media Query for Devices less than 600
    */
    @media screen and (max-width: $bp-phone) {
        margin: 0 auto;
    }
    /*
        Form-Section-Body-Persoanl Media Query for Devices more than 600
    */
    @media screen and (min-width: $bp-phone) {
        width: 50%;
        // height: 100%;
        margin: 1rem auto;
        border: 2px solid $color-3;
        border-radius: 30px;
    }
    &-info {
        display: inline-grid;
        grid-template-rows: repeat(4, 1fr);
        padding: 0 1rem 1rem 1rem;
    }
}


/* Medium devices (desktops, 90px and up) */

@media (min-width: $bp-tablet) {
    #residence {
        display: none;
    }
}