/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section - Headers
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section-header-references {
    background-color: $color-5;
    @media (min-width: $bp-tablet) {
        display: none;
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section - Body
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section-body__references {
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-grid;
    grid-template-rows: .25fr repeat(1, 1fr);
    // Form-Section-Body-Persoanl Media Query for Devices less than 600
    @media screen and (max-width: $bp-phone) {
        margin: 0 auto;
    }
    // Form-Section-Body-Persoanl Media Query for Devices more than 600
    @media screen and (min-width: $bp-phone) {
        width: 50%;
        // height: 100%;
        margin: 1rem auto;
        border: 2px solid $color-5;
        border-radius: 30px;
    }
}


/* Medium devices (desktops, 90px and up) */

@media (min-width: $bp-tablet) {
    #references {
        /*
            This could be changed to display hidden
        */
        display: none;
    }
}