/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section - Headers
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section {
    /*
        Form Section Headers
    */
    &-header {
        &-personal {
            background-color: $color-2;
        }
        &-residence {
            background-color: $color-3;
            @media (min-width: $bp-tablet) {
                display: none;
            }
        }
        &-income {
            background-color: $color-4;
            @media (min-width: $bp-tablet) {
                display: none;
            }
        }
        &-references {
            background-color: $color-5;
            @media (min-width: $bp-tablet) {
                display: none;
            }
        }
        &-other {
            background-color: $color-6;
            @media (min-width: $bp-tablet) {
                display: none;
            }
        }
        &-signatures {
            background-color: $color-7;
            @media (min-width: $bp-tablet) {
                display: none;
            }
        }
    }
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Form Section - Body
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-section {
    /*
        Form Section Body
    */
    &-body {
        &__personal {
            align-items: center;
            padding: 1rem;
            display: inline-grid;
            grid-template-rows: .25fr repeat(5, 1fr);
            /*
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////
            //                      Form-Section-Body-Persoanl Media Query for Devices less than 600
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////
            */
            @media screen and (max-width: $bp-phone) {
                margin: 0 auto;
            }
            /*
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////
            //                      Form-Section-Body-Persoanl Media Query for Devices more than 600
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////
            */
            @media screen and (min-width: $bp-phone) {
                width: 70%;
                height: 100%;
                margin: 1rem auto;
                border: 2px solid #f44336;
                border-radius: 30px;
            }
        }
    }
}


/*
    These need to be moved to their own sections at the top
*/


/* Medium devices (desktops, 90px and up) */

@media (min-width: $bp-tablet) {
    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    //   Personal Section 
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    // Might want to just remove this
    // #personal {
    //     height: 100%;
    // }
    #residence,
    #income,
    #other,
    #references,
    #signatures {
        /*
            This could be changed to display hidden
        */
        display: none;
    }
}