/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Grid Container
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.grid-container {
    //display: grid;
    height: 100vh;
    background-color: $color-background;
    // Width < 600px
    @media screen and (max-width: $bp-phone) and (min-width: $bp-phone) {
        overflow-y: scroll;
        // When doing mobile check to see the best manner in which to handle this
        display: block;
        // display: grid;
        // grid-template-rows: minmax(30px, .20fr) 1fr;
    }
    @media (min-width: $bp-tablet) {
        @include customGrid(grid, minmax(120px, .20fr) .1 1, 1);
    }
}