html {
    font-size: 16px;
    /* 24 รท 16 = 1.5 */
    // @media screen and (min-width: 320px) {
    //     & {
    //         font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    //     }
    // }
}

body {
    height: 100vh;
    margin: 0;
    font-family: $font-stack;
    font-style: 1.1em;
    text-align: center;
    scroll-behavior: smooth;
}

h1 {
    margin: 0px;
    padding: 1em 0px;
    font-size: 1.5rem;
}

h2 {
    margin: 0 !important;
    padding: 10px !important;
    font-weight: 600 !important;
}

h3 {
    margin: 0 !important;
    padding: 10px !important;
    font-weight: 600 !important;
    color: #dddddd;
    text-align: left;
    padding-left: 2rem !important;
}

h2,
h3 {
    @media screen and (max-width: $bp-phone) {
        font-size: 2rem !important; //4.5vw
    }
    @media screen and (min-width: $bp-phone) {
        font-size: 2.5rem !important; //4.5vw
    }
}

@media (min-width: $bp-tablet) {
    h2 {
        font-size: 2.98rem !important;
    }
    h3 {
        font-size: 2.5rem !important;
    }
}

form {
    // // 900px
    overflow-y: scroll;
    scrollbar-width: none;
}

footer {
    display: flex;
    background-color: $color-1;
    align-items: center;
    color: oldlace;
    height: 5vh;
    p {
        margin: 0 auto;
    }
}