/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Breadcrumbs Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.arrows {
    align-self: center;
    white-space: nowrap;
    li {
        display: inline-block;
        line-height: 26px;
        margin: 0 9px 0 -10px;
        padding: 0 20px;
        position: relative;
        &:last-of-type::before,
        &:last-of-type::after {
            display: none;
        }
        a {
            font: bold 24px Sans-Serif;
            letter-spacing: -1px;
            text-decoration: none;
            padding: 5px;
            /* Remove this if you want the fading */
            color: hsl(0, 0%, 50%);
            &:hover {
                color: #f44336;
                cursor: pointer;
                &::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #f44336;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }
            &:focus {
                color: #f44336;
            }
            &.crntActiveBC {
                color: #f44336;
            }
        }
        /*Testing*/
        a {
            position: relative;
        }
    }
    @media screen and (max-width: $bp-tablet) {
        display: none;
    }
    @media screen and (min-width: $bp-laptop) {
        display: block;
    }
}