/*
/////////////////////////////////////////////////////////////////////////////
//    Button Group 
/////////////////////////////////////////////////////////////////////////////
*/

.btn-group {
    button {
        background-color: #4CAF50;
        /* Green background */
        border: 1px solid green;
        /* Green border */
        color: white;
        /* White text */
        padding: 10px 14px;
        /* Some padding */
        cursor: pointer;
        /* Pointer/hand icon */
        float: left;
        /* Float the buttons side by side */
        &:not(:last-child) {
            border-right: none;
            /* Prevent double borders */
        }
        /* Add a background color on hover */
        &:hover {
            background-color: #3e8e41;
        }
    }
    /* Clear floats (clearfix hack) */
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}