.fieldset {
    // This fieldset was made for holding the City State and Postal Zip Code
    &-CSZ {
        display: inline-grid;
        grid-template-columns: 1fr .78fr .75fr;
        align-items: center;
        &-pair {
            display: inline-grid;
            grid-template-columns: .7fr 1fr;
            height: 100%;
            &>label {
                display: block;
                align-self: center;
                height: 50%;
                text-align: left;
                padding-left: 10%;
                @media screen and (min-width: $bp-phone) {
                    padding-left: 0;
                }
                // margin-right: 3%;
            }
            &>input {
                padding-left: 2%;
                width: 75%;
            }
            &>select {
                display: block;
                align-self: center;
                width: 50%;
                height: 50%;
            }
        }
    }
}