// CSZ 
.fieldset {
    // This fieldset was made for holding the City State and Postal Zip Code
    &-CSZ {
        @extend %fieldset;
        @include customGrid(inline-grid, 1, 1 .78 .75);
        &-pair {
            @include customGrid(inline-grid, 1, .7 1);
            height: 100%;
            &>label {
                display: block;
                align-self: center;
                height: 50%;
                text-align: right; // Reminder : This is a test to see if it's better vs left alight
                padding-left: 10%;
                padding-right: 10%;
                @media screen and (min-width: $bp-phone) {
                    padding-left: 0;
                }
                // margin-right: 3%;
            }
            &>input {
                padding-left: 2%;
                width: 75%;
            }
            &>select {
                display: block;
                align-self: center;
                width: 50%;
                height: 50%;
            }
        }
    }
    &-RO {
        @extend %fieldset;
        @include customGrid(grid, 1, 1 repeat(2, .5fr));
        &>div>label {
            display: block;
        }
        &>div:first-child {
            text-align: right; // Reminder : This is code for experimenting
        }

    }
    &-LI {
        @extend %fieldset;
        @include customGrid(grid, repeat(3, 1fr), 1);
        padding: 1rem;
        &>div>label {
            display: block;
        }
    }
    &-MR {
        @extend %fieldset;
        @include customGrid(grid, 1, 1);
        padding: 0 1rem 1rem 1rem;
        margin-top: 1rem;
        &>div>label {
            display: block;
        }
    }

    &-license {
        @extend %fieldset;
        @include customGrid(grid, 1, .40 1);
        grid-gap: 0 0;
        border: none !important;
    }
}