.fieldset {
    &-LI {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-self: center;
        padding: 1rem;
        &>div>label {
            display: block;
        }
    }
}