// CSZ 
.fieldset {
    // This fieldset was made for holding the City State and Postal Zip Code
    &-CSZ {
        @include customGrid(inline-grid, 1, 1 .78 .75);
        align-items: center;
        &-pair {
            @include customGrid(inline-grid, 1, .7 1);
            height: 100%;
            &>label {
                display: block;
                align-self: center;
                height: 50%;
                text-align: right; // Reminder : This is a test to see if it's better vs left alight
                padding-left: 10%;
                padding-right: 10%;
                @media screen and (min-width: $bp-phone) {
                    padding-left: 0;
                }
                // margin-right: 3%;
            }
            &>input {
                padding-left: 2%;
                width: 75%;
            }
            &>select {
                display: block;
                align-self: center;
                width: 50%;
                height: 50%;
            }
        }
    }
    &-RO {
        @include customGrid(grid, 1, 1 .5 .5);
        align-self: end;
        &>div>label {
            display: block;
        }
        &>div:first-child {
            text-align: right; // Reminder : This is code for experimenting
        }
        &>div:nth-child(1) {}
    }
    &-LI {
        @include customGrid(grid, repeat(3, 1fr), 1);
        align-self: center;
        padding: 1rem;
        &>div>label {
            display: block;
        }
    }
    &-MR {
        @include customGrid(grid, 1, 1);
        align-self: center;
        padding: 0 1rem 1rem 1rem;
        margin-top: 1rem;
        &>div>label {
            display: block;
        }
    }
}