legend {
    background-color: $color-5;
    color: $color-background;
    padding: 3px 6px;
    border-radius: 30px;
}

fieldset {
    // margin: 1rem !important;
    // padding: 1rem !important;
    border: solid 2px $color-5 !important;
    border-radius: 30px;
}