/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Input Text Boxes
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

input[type="text"] {
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #444444;
    border-left: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0 1px, rgba(0, 0, 0, 0.22) 0px .1px .1px;
    display: inline-block;
    line-height: 0;
    margin-top: 0.7em; // previously 0.5em
    margin-bottom: 0; // previously 1.5em
    padding: 0.7em 0.4em 0.4em 0.4em; //previously 0.85em 0.75em 0.75em 0.75em
    width: 100%; // previously calc(100% - 1.25em)
    transition: map-get($transition, speed-fast) border-color map-get($transition, easing);
    // States
    &:focus {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        outline: none;
        &::placeholder {
            text-decoration: none;
            color: $color-2;
        }
    }
    &:hover {
        border-color: darken($color-2, 14%);
        text-decoration: none;
        &::placeholder {
            text-decoration: none;
            color: $color-2;
        }
    }
    &:active {
        // background-color: darken($color-2, 21%);
        border-color: darken( $color-2, 28%);
        position: relative;
        top: 1px;
        text-decoration: none;
        transition: none;
    }
}