/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Label & Date bahavior
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.label-date-pair {

    font-size: 1.2rem;

    // input pair on anything lower than tablet 01 breakpoint
    @media screen and (max-width: $bp-tablet-01) {

    }
    // input pair on anything over the tablet 01 breakpoint
    @media screen and (min-width: $bp-tablet-01) {
        display: inline-grid;
        grid-template-columns: .50fr 1fr;
    }

    &>label {
        display: block;
        height: 50%;
        text-align: center;
        padding-top: 1rem;
        padding-left: 10%;
        @media screen and (min-width: $bp-phone) {
            padding-left: 0;
        }
    }
    &>input {
        height: 50%;
        width: 60%;
        margin: .68rem;
    }

}