/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Label & Input bahavior
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.label-input-pair {
    float: left;
    margin-right: 20px;
}

@media screen and (min-width: $bp-phone) {
    input,
    label {
        display: block;
        text-align: left;
    }
}