/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//   License Group Section
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#license {
    display: grid;
    grid-template-columns: 1fr .25fr .75fr;
    grid-template-rows: 1fr;
    grid-gap: 1em 1em;
    &-pair {
        &-number {
            grid-area: 1 / 1 / 2 / 3;
        }
        &-state {
            display: flex;
            flex-direction: column;
            grid-area: 2 / 1 / 3 / 2;
        }
        &-exp {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}