/*
    Grid Mixin
    -webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers including Firefox for iOS; basically, any WebKit based browser)
    -moz- (Firefox)
    -o- (old pre-WebKit versions of Opera)
    -ms- (Internet Explorer and Microsoft Edge)

*/

@mixin transitionEase( $time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}

@mixin customGrid($display:null, $template-rows:null, $template-cols:null) {
    @supports (display: grid) {
        display: $display;
        $grid-rows: ();
        $grid-cols: ();
        @each $rows in $template-rows {
            $grid-rows: append($grid-rows, #{$rows}fr);
        }
        @each $cols in $template-cols {
            $grid-cols: append($grid-cols, #{$cols}fr);
        }
        grid-template-rows: #{$grid-rows};
        grid-template-columns: #{$grid-cols};
    }
}

@mixin fieldSetBuilder () {}