/*  

    -webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers including Firefox for iOS; basically, any WebKit based browser)
    -moz- (Firefox)
    -o- (old pre-WebKit versions of Opera)
    -ms- (Internet Explorer and Microsoft Edge)

*/

@mixin transitionEase( $time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}


/*
    Name : customGrid
    Description : Takes in a display property and two sets of values which represent the
                  number of rows columns respectively.
*/

@mixin customGrid($display:null, $template-rows:null, $template-cols:null) {
    @supports (display: grid) {
        display: $display;
        $grid-rows: ();
        $grid-cols: ();
        @each $rows in $template-rows {
            @if type-of($rows)=='number' {
                $grid-rows: append($grid-rows, #{$rows}fr);
            }
            @else {
                $grid-rows: append($grid-rows, #{$rows});
            }
        }
        @each $cols in $template-cols {
            @if type-of($cols)=='number' {
                $grid-cols: append($grid-cols, #{$cols}fr);
            }
            @else {
                $grid-cols: append($grid-cols, #{$cols});
            }
        }
        grid-template-rows: #{$grid-rows};
        grid-template-columns: #{$grid-cols};
    }
}