/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//    Variables
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

// Colors
$color-1: navy;
$color-2: #ff6358;
$color-3: #ffd246;
$color-4: #78d237;
$color-5: #28b4c8;
$color-6: #2d73f5;
$color-7: #aa46be;
$color-background: #f5f5f5;
// Font
$font-stack: Helvetica,
sans-serif;
// BreakPoints
$bp-phone: 600px;
$breakpoint-small: 600px;
$bp-tablet: 900px;
$bp-tablet-01: 1100px;
$bp-laptop: 1200px;
// Transition
$transition: ( easing: ease-out, speed-slow: 250ms, speed-fast: 125ms);